@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

:root {
  --strong-cyan: #26baa4;
  --light-blue: #6173ff;
  --dark-grayish-blue: #4c545d;
  --grayish-blue: #9fabb2;
}

body {
  font-size: 18px;
}

.btn {
  font-size: 18px;
  padding: 13px 36px;
  border-radius: 30px;
  border: none;
  color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5),
    inset 0px -3px 0px 0px rgba(0, 0, 0, 0.15);
}

.btn-cyan {
  background-color: var(--strong-cyan);
}

.btn-blue {
  background-color: var(--light-blue);
}

.section__heading {
  margin: 0px auto;
  text-align: center;
}

.section__title {
  color: var(--dark-grayish-blue);
  margin-bottom: 19px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.59px;
}

.section__desc {
  color: var(--grayish-blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.14px;
}

/* hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/bg-header-desktop.png") no-repeat;
  background-size: cover;
}

.hero__text {
  text-align: center;
  margin: 35px 0px 0px;
}

.hero__text h1 {
  font-size: 46px;
  color: var(--dark-grayish-blue);
}

.hero__text p {
  max-width: 730px;
  font-size: 20px;
  color: var(--grayish-blue);
  margin-top: 16px;
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 56px;
}

/* services */

.services {
  padding: 40px 0px;
}

.services .section__heading {
  max-width: 730px;
  margin-bottom: 100px;
}

.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__img img {
  max-width: 100%;
}

.services__info {
  flex-grow: 1;
  padding-left: 100px;
}

.services__info-list {
  max-width: 350px;
  list-style: none;
}

.services__info-item {
  margin-bottom: 56px;
}

.services__info-item h4 {
  color: var(--dark-grayish-blue);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.services__info-item p {
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}

/* devices */

.devices {
  padding: 40px 0px;
}

.devices__img {
  text-align: center;
  margin-top: 70px;
}

/* workflow */
.workflow {
  padding: 40px 0px;
}

.workflow__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 100px;
  margin-top: 50px;
}

.workflow__item {
  max-width: 350px;
  list-style: none;
  text-align: center;
}

.workflow__item img {
  border: 3px dashed var(--grayish-blue);
}

.workflow__item h4 {
  color: var(--dark-grayish-blue);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.39px;
  margin: 40px 0px 16px;
}

.workflow__item p {
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}

/* partners */

.partners {
  padding: 40px 0px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.partners__item {
  list-style: none;
}

/* jumbotron */

.jumbotron {
  padding: 40px 0px;
}

.jumbotron .section__heading {
  max-width: 730px;
}

.jumbotron__btns {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* footer */

.footer {
  padding: 40px 100px;
  background: rgba(158, 171, 178, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo img {
  width: 45px;
  height: 45px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 480px;
}

.footer__item {
  width: 160px;
  margin-bottom: 12px;
}

.footer__item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.14px;
  color: var(--dark-grayish-blue);
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

/* responsive */

@media screen and (max-width: 1230px) {
  .services__content {
    flex-direction: column;
    align-items: center;
  }

  .services__info-list {
    max-width: 100%;
  }

  .devices__img img {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__list {
    width: auto;
    justify-content: center;
  }

  .footer__item {
    width: auto;
    margin-right: 30px;
  }
}
